@charset "utf-8";
/* CSS Document */



/*考室管理*/
.kw_box{ background:#fff; padding:16px;}
.kw_nav{ padding:0 0 16px; border-bottom:1px solid #eee;}
.navtit{ height:34px; line-height:34px; font-size:16px;  color:#04acf7;}

.kw_lbox{ width:19.2%; background:#fafafa; min-height:500px; padding-bottom:40px; position:relative; height:100%;}
.kw_rbox{ width:79%; position:relative;}
.boxtit{ width:100%; padding:16px 0; color:#fff; background:#04acf7; font-size:16px;}

/*创建考务*/
.kwcj_nav{ margin:16px 0;}
.kwcj_lbox{ width:67%; background:#fbfbfb;}
.kwcj_rbox .boxtit,.kwcj_lbox .boxtit{ padding:10px 0; font-size:14px; text-align:center;}
.kwcj_main{ padding:2% 2% 0;}

.other{ height:auto;}
.other .selshow label{ display:block; font-size:12px; color:#888;}
.other .selshow label a { margin-right:4px;}
.tisp{ font-size:12px; color:#e8a135; line-height:34px; height:34px;}

.classrl{ width:100%;}
.classrl th{ border:1px solid #f1f1f1;border-bottom:none; border-left:none;}
.classrl .rq th{ background:#f6f6f6; padding:6px 0;}
.classrl .xq th{ background:#f9f9f9; color:#3fc1fd; padding:12px 0; border-bottom:1px solid #f1f1f1;}
.classrl td{ text-align:center;height:58px;font-size:14px; border:1px solid #f1f1f1; border-top:none; border-left:none; background:#fff;}
.classrl td.wx{ background:#f6f6f6; color:#888;height:26px; font-size:14px;}
.classrl .one{ border-left:1px solid #f1f1f1;}
.classrl td a{ display:block;}
.classrl td a span{ display:block; font-size:12px; color:#666;}
.classrl td a span i{ font-size:18px;}
.classrl td a.kbadd span{ color:#04acf7;}

.kwcj_rbox{ width:31%; background:#fbfbfb;position:relative;}
.kwcj_rmain{height:385px; overflow-y:scroll; margin-bottom:33px; padding-bottom:14px;}
.kslist{ background:#fff; border:1px solid #f1f1f1; width:90%; margin:14px  auto 0; }
.kslist_txt{ padding:10px;}
.kslist_txt table{ width:100%;}
.kslist_txt table td{ height:24px; line-height:24px;}
.kslist_buts{width:100%; background:#e8f4fb;}
.kslist_buts a{ width:50%; box-sizing:border-box; color:#04acf7; font-size:14px; text-align:center; padding:8px 0;}
.kslist_buts a.one{ border-right:1px  solid #fff;}
.ksadd{ background:#fbfbfb;}

/*考务安排*/
.kwap_lbox{ width:19.2%; background:#fff; min-height:500px; padding-bottom:40px; position:relative; height:100%;}
.kwap_rbox{ width:79%; position:relative;background:#fff; min-height:540px;}
.kwap_lbox .boxtit{width:100%; padding:12px 0; color:#333; background:#fafafa; font-size:16px; position: relative;}
.kwap_lbox .boxtit .kwapback{ position:absolute; left:0; padding:14px 0; width:20%; top:0; color:#666; text-align:center;}
.kwap_lbut{ width:82%; border:1px solid #f1f1f1; border-radius:4px; font-size:14px; padding-left:8%; margin:0 auto 10px; color:#666; height:48px; line-height:48px; text-align:left; display:block;} 
.kwap_lbut i{ font-size:20px; margin-right:6px;}
.kwap_lbut:hover,.kwap_lbut.cur{border-color:#c3ebfd; color:#04acf7; }
.slbox{ width:5%;}
.slbox .boxtit .kwapback{ position:static; width:100%;}
.slbox span{ display:none;}
.slbox .kwap_lbut{ padding:0; text-align:center; height:42px; line-height:42px;}
.slbox .kwap_lbut i{ margin:0; font-size:22px;}

.kwap_rmain{ padding:0 2% 2%;}
.kwap_nav{ padding:0 0 12px; border-bottom:1px solid #eee;}
.kwap_nav .qkychbox{ margin-top:9px; margin-right:2px;}
.kwap_nav label{ margin-right:16px; line-height:34px; height:34px;}
.kwap_rtit{ width:98%; background:#fcfcfc; border-bottom:1px solid #f2f2f2; padding:10px 0 10px 2%; color:#666; font-size:14px;}

/*监考老师*/
.kwap_jklbox{ width:37.5%;}
.kwap_jkrbox{ width:60%; background:#fafafa;border:1px solid #f0f0f0;}
.jk_date{ width:100%; text-align:center; padding:10px 0; color:#666; font-size:14px;}
.jk_teabox{ width:100%; background:#fafafa; border:1px solid #f0f0f0;}
.jk_tit{ background:#f6f6f6; border-bottom:1px solid #eee; text-align:center; color:#666; padding:8px 0; font-size:14px;}
.jk_teamain{ padding:5%;min-height:363px;}
.jk_teamain .qkyinp{ width:100%; box-sizing:border-box;}
.jk_cont{ margin-top:10px;}
.jk_group{ width:100%; margin-bottom:2px;}
.jk_groupname{ width:100%; display:block; padding:8px 0; text-align:center; background:#e8f4fb; color:#04acf7; position: relative; cursor:pointer;}
.jk_groupname .qkychbox{ left:4%; bottom:auto; top:10px;}
.jk_namebox{ width:100%; background:#fff; padding-bottom:4px; display:none;}
.jk_name{ width:90%; padding:8px 0; border-bottom:1px  solid #e8f4fb; display:block; margin:0 auto; text-align:center; color:#04acf7; position: relative;cursor:pointer;}
.jk_name .qkychbox{ left:0; bottom:auto; top:10px;}

.jk_njmain{padding:2%; min-height:412px;}
.notjoin_list{ width:22%; background:#fff; border:1px solid #f3f3f3; position:relative; margin-right:2.5%; margin-bottom:10px;}
.njclose{ width:20px; height:20px; position:absolute; top:-8px; right:-6px; background:url(../images/njclose.png) no-repeat center center;}
.nj_tx{ width:100%; border-radius:2px;}
.nj_tx img{ width:100%;border-radius:2px 2px 0 0; height:70px;}
.nj_txt{ width:100%; text-align:center;}
.nj_txt label{ display: block; color:#04acf7; padding:6px 0;}
.nj_txt span{ display:block; font-size:12px; color:#666; padding-bottom:4px;}

/*规则*/
.gzset{ padding: 10px 5%; width:100%;}
.gzset td{ padding-bottom:20px;}
.gzset .one{ width:100px; text-align:left;}
.gzset .two{ border:1px solid #f1f1f1; padding:10px; background:#fcfcfc}
.gz{ padding:6px 0; font-size:12px;}
.gz label{ height:26px; line-height:26px; font-size:12px;  color:#666;}
.gz input{ height:26px; line-height:26px; font-size:12px;  color:#666; border:1px solid #ececec; background:#fefefe; width:30px; text-align:center; margin:0 6px;}

/*智能编排*/
.ppbox{padding: 16px 10%; width:80%;}
.ppbox .two{ border:1px solid #f1f1f1; padding:10px; background:#fcfcfc}
.ppbox .gz{ padding:6px 0; font-size:12px;}
.ppbox .gz span{ margin-left:10%;}
.pp_tit{ color:#04acf7; font-size:20px; width:100%; text-align:center;}
.ppbut{ width:46%; background:#fcfcfc; border:1px solid #f1f1f1; display:block; margin-top:16px; padding:10px 0; text-align:center; cursor:pointer;}
.ppbut label{ display:block; color:#04acf7; cursor:pointer;}
.ppbut label i{ font-size:30px;}
.ppbut span{ display:block; width:100%; padding-top:10px; color:#666;}
.ppbut:hover{ background:#fff;box-shadow:0 1px 2px #eee; border-color:#eee;}
.ppbut.dc{ border-color:#95dbfa; color:#04acf7; margin-top:8px; background:#fff;box-shadow:0 1px 2px #eee;}

.tisp_box{ width:100%; position:relative}
.dialog{ height:36px; line-height:36px; position:absolute; top:2px; left:6%;}
.dialog span{ color:#666; font-size:12px; background:#fff; border-radius:6px; padding:0 6px; display:block; border:1px solid #eee;}
.dialog span i{ margin-right:5px;}
.dialog b{ width:27px; height:38px; background:url(../images/dialogsj1.png) no-repeat center center; margin-left:-5px;}

/*考务信息记录*/
.kwjl_box{ width:100%;}
.kwjl_zhunav{ background:#fff; padding:10px 0;}
.kwjl_main{ background:#fff; padding:16px;}
.kwjl_neinav{ border-bottom:1px solid #eee; padding-bottom:16px;}
.kwjl_neinav .qkychbox{ margin-top:9px; margin-right:2px;}
.kwjl_neinav label{ line-height:34px; height:34px; margin-right:16px;}
.kwjl_listbox{ width:100%; margin-top:16px;}
.kwjl_list{ width:23%; margin:0 1% 16px; background:#fff; border:1px solid #eee; border-radius:6px; box-sizing:border-box; padding:12px 0;}
.kwjl_tx{ width:80px; height:80px; background:url(../images/mrtxbg.png) no-repeat center center; text-align:center; line-height:80px; color:#04acf7; margin-left:8%;}
.kwjl_tx i{ font-size:50px;}
.kwjl_txt{ width:46%; text-align:center; color:#04acf7; margin-right:8%;}
.kwjl_txt label{ display:block; font-size:16px; line-height:30px; height:30px; margin-top:10px;}
.kwjl_txt span{ display:block; font-size:14px;line-height:30px;height:30px;}
.kwjl_zkz{ width:84%; margin:12px auto; border:1px dashed #ddd; background:#fcfcfc; text-align:center; color:#04acf7; padding:10px 0; font-size:16px;}
.kwjl_erro{ text-align:center; margin-bottom:12px;}
.kwjl_list .qkysel{ width:84%; margin:0 auto 12px;}
.kwjl_list .qkytextarea{ width:84%; margin:0 auto;}

/*考室座位*/
.kszw_box{ padding:16px; background:#fff;}
.kszw_nav{ padding:12px; background:#f9f9f9; border:1px solid #eee; border-left:none; border-right:none;}
.kszw_main{ width:100%; margin:16px auto; position:relative; padding-bottom:50px;}
.kszw_main .men{ position:absolute; width:100px; right:0; line-height:36px; height:36px; text-align:right;}
.kszw_main .men i{ font-size:40px;}
.kszw_main .men.qian{ top:4%;}
.kszw_main .men.hou{ bottom:0;}
.kszw_jt{ width:25%; padding:6px 0; background:#fff; border:1px solid #ddd; border-radius:8px; text-align:center; color:#04acf7; margin:0 auto;}
.kszw_jt i{ font-size:50px;}
.kszw_jt span{ display:block; font-size:14px; padding-top:4px;}
.kszw_zu{ width:22%; margin:0 1.5%; }
.kszw_zhuo{border:1px solid #ddd; background:#fcfcfc; width:100%;box-sizing:border-box;border-radius:6px; margin:20px auto 0;}
.kszw_zhuo a{ width:50%; box-sizing:border-box; color:#3fc1fd; text-align:center; display:block; padding:12px 0; font-size:16px; height:100%; cursor:auto;}
.kszw_zhuo a.hbl{border-left:1px solid #eee;}
.kszw_zhuo a.hbr{border-right:1px solid #eee;}
.kszw_zhuo a.cur{ background:#04acf7; color:#fff;border-radius:0 6px 6px 0;}
.kszw_zhuo a span{ margin-left:8px;}
.kszw_zhuo a .zhuo_date{ margin-top:10px;}

/*监考安排*/
.jkap_box{ padding:16px; background:#fff;}
.jkap_nav{ padding:12px 0; border-top:1px solid #eee;}
.dongbox{ width:100%;}
.dongit{height:34px; line-height:34px; margin-right:18px;}
.donglistbox{ width:12.4%;}
.donglistbox .donglist{ width:100%; display:block; margin-bottom:6px; background:#fafafa; border:1px solid #eee; line-height:32px; height:32px; text-align:center; font-size:14px; color:#666;}
.donglistbox .donglist.cur,.donglistbox .donglist:hover{ background:#04acf7; border-color:#04acf7; color:#fff;box-shadow:0 1px 2px #eee;}
.indongbox{ width:74.5%; border:1px solid #e8e8e8; padding:2%; position:relative;}
.indongsj{ position:absolute; left:-2.6%; top:3px;}
.loubox{ width:14%; text-align:center;}
.loubox .loulist{ display:block; height:109px; line-height:109px; margin-bottom:16px; font-size:16px;}
.changbox{ width:84%;}
.changlist{ width:22%; margin:0 1.5%; background:#fff; border:1px solid #eee; border-radius:4px; margin-bottom:16px; position:relative; box-sizing:border-box; height:109px; overflow:hidden;}
.chang_bj{ width:90%; margin:6px auto; text-align:center; background:#04acf7; height:26px; line-height:26px; color:#fff; font-size:14px;border-radius:2px;}
.changlist label{ color:#04acf7; text-align:center; font-size:24px; line-height:38px; height:38px; display:block;}
.chang_jk{ width:90%; margin:6px auto; color:#efa34f; text-align:center;}
.jkone{ margin-right:6px;}
.notedit label{ height:69px; line-height:69px;}
.notmask{ position:absolute; width:100%; height:100%; left:0; top:0; background:url(../images/noedit.png); text-align:center; line-height:109px;}
.notmask i{ font-size:50px;}

/*监考信息&考试安排*/
.jkxx_lbox{ width:19.2%;  }
.jkxx_tx{ padding:14px 10%; background:#fff; margin-bottom:16px;}
.jktx{ width:60px; height:60px; border-radius:50%;}
.jktx img{ width:100%; height:100%;border-radius:50%; }
.jktxt{ color:#04acf7; height:60px; line-height:60px; text-align:center; width:56%;}
.jktxt label{ font-size:16px; margin-right:6px;}
.jktxt span{ font-size:14px;}
.jkxx_ul{ min-height:432px; position:relative;padding-bottom:30px;}
.ksap_ul{min-height:200px; position:relative;padding-bottom:30px;}
.ksap_ul2{min-height:200px; position:relative;padding-bottom:30px;}
.jkxx_lbox .boxtit{width:100%; padding:10px 0; color:#333; background:#fafafa; font-size:16px; position: relative;}
.jkxx_lbox .ksap_ul2 .boxtit b{ display:none;}
.jkxx_lbox .boxtit .kwapback{ position:absolute; left:0; padding:14px 0; width:20%; top:0; color:#666; text-align:center;}
.jkxx_lbut{ width:82%; border:1px solid #f1f1f1; border-radius:4px; font-size:14px; padding-left:8%; margin:0 auto 10px; color:#666; height:48px; line-height:48px; text-align:left; display:block;} 
.jkxx_lbut i{ font-size:20px; margin-right:6px;}
.jkxx_lbut:hover,.jkxx_lbut.cur{border-color:#c3ebfd; color:#04acf7; }
.slbox.jkxx_lbox{ width:5%;}
.slbox.jkxx_lbox .jkxx_tx{ padding:6px 0;}
.slbox.jkxx_lbox .jktx{ width:40px; height:40px; margin:0 auto; float:none;}
.slbox.jkxx_lbox .jktxt{ width:90%; margin:0 auto; float:none; height:auto;}
.slbox.jkxx_lbox .jktxt label{ display:block; font-size:14px; margin-right:0;line-height:28px; height:28px;}
.slbox.jkxx_lbox .jktxt span{ display:block; font-size:12px; line-height:20px; height:20px;}
.slbox.jkxx_lbox .jkxx_ul{ padding-top:6px; min-height:417px;}
.slbox.jkxx_lbox .ksap_ul{padding-top:6px; min-height:52px;}
.slbox.jkxx_lbox .ksap_ul2{}
.slbox.jkxx_lbox .boxtit{ display:none;}
.slbox.jkxx_lbox .ksap_ul2 .boxtit b,.slbox.jkxx_lbox .ksap_ul2 .boxtit{ display:block;}
.slbox.jkxx_lbox span{ display:none;}
.slbox.jkxx_lbox .jkxx_lbut{ padding:0; text-align:center; height:42px; line-height:42px;}
.slbox.jkxx_lbox .jkxx_lbut i{ margin:0; font-size:22px;}

.jkxx_rbox{ width:79%; position:relative;background:#fff; min-height:540px;}
.jkxx_rmain{ padding:0 2% 2%;}
.jkxx_rtit{ width:98%; background:#fcfcfc; border-bottom:1px solid #f2f2f2; padding:10px 0 10px 2%; color:#666; font-size:14px;}
.jkxx_table{ width:100%; border-bottom:1px solid #eee; margin-bottom:16px;}
.jkxx_table .tabtit{ background:#04acf7; color:#fff; font-size:16px; border:none !important; padding:8px 0 !important;}
.jkxx_table td{ border:1px solid #eee; border-bottom:none; border-left:none; padding:16px 0; text-align:center;}
.jkxx_table td.one{ border-left:1px solid #eee;}

.jkmore{ width:100%; text-align:center; position:relative;}
.jkmore .more{ display:block; height:32px; line-height:32px; color:#04acf7; display:block;}
.jkmore .pab_b{ left:auto; right:0;}

/*学生准考证*/
.zkz_infobox{ width:100%; text-align:left;}
.zkz_infoli{ width:50%; padding:0 0 0 8%; box-sizing:border-box; border-top:1px solid #eee; height:32px; line-height:32px; color:#888;}
.zkz_infoli2{ width:92%;border-top:1px solid #eee;height:32px; line-height:32px; color:#888; padding-left:8%;}
.zkz_infobox span{ margin-right:6px;}
.zkz_infobox label{ color:#666;}
.zkz_infobox .label{color:#666;}
.slbox.jkxx_lbox .zkz_infoli{ float:none; width:100%; padding:0;}
.slbox.jkxx_lbox .zkz_infoli2{width:100%; padding:0; height:auto;}
.slbox.jkxx_lbox .zkz_infobox label{ width:100%; display:block; text-align:center;}
.slbox.jkxx_lbox .zkz_infobox .label{ width:100%; float:none; text-align:center; line-height:20px;word-break:break-all; word-wrap:break-word;}

/*公共*/
.pab_b{ position:absolute; bottom:0; left:0;}
.kwinfolist{ width:100%;}
.kwinfolist th{ background:#04acf7; color:#fff; padding:8px 0; font-size:14px; box-shadow:0 2px 4px #c8c8c8;}
.kwinfolist tr.even td{ background:#fafafa;}
.kwinfolist td{ color:#666; text-align:center; padding:10px 0; font-size:14px; border:1px solid #f1f1f1; border-top:none; border-left:none;}
.kwinfolist td.one{ border-left:1px solid #f1f1f1;}

.tuxian:hover{ background:#fff;box-shadow:0 4px 4px #ddd;}

.nodata{ width:100%; text-align:center; display:none;}
.nodata .list_tx{ width:100%; text-align:center; color:#888;  padding-top:10px;}
.nodata .list_tx i{font-size:80px;}
.nodata .list_tit{ width:100%; text-align:center; color:#888; font-size:20px; padding:10px 0 2px}
.nodata .list_tit a{ color:#04acf7; text-decoration:underline;}


.qky_maskcont .qkysel{ padding-left:70px;}
.qky_maskcont .qkysel .selshow{ text-align:left;}



