@charset "utf-8";
/* CSS Document */


.h100{ height:100%;}
.hauto{ height:auto !important;}
.socrllbox{ overflow-y:scroll;}
.xscorll{ overflow-x:scroll; overflow-y:hidden;}

.pass{ background:url(../images/sp.png) no-repeat center center; background-size: auto 80%; height:90px;}
.pass.no{ background-image:url(../images/spno.png); }

.newinp{ background:#fff; height:24px; line-height:24px; text-align: right; font-size:17px; color:#111; border:none; box-sizing:border-box; padding-right:26px;font-family: Arial,Microsoft YaHei;}

.news_optionbox{ display:none;}

.tea_selbox{ position:fixed; z-index:999999; width:100%;  height:100%; background:#f0eff5; top:0; left:0; transform:translateX(100%)}
.tea_selbox.show{  transform:translateX(0)}

.timeh5_box{position:fixed; z-index:999999; width:100%;bottom:0; left:0; height:300px;transform:translateY(100%);
 background:-webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.8) 10%,rgba(255,255,255,1) 50%,  rgba(255,255,255,1) 100%);}
.timeh5_box.show{ transform:translateY(0)}
.time_value{ height:60px; line-height:60px;font-size:17px; color:#04be02; text-align:center; margin-top:60px;}
.time_optionbox{ height:180px;-webkit-mask-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1) 50%, rgba(0,0,0,0)); }
.time_optionbox a{ height:60px; line-height:60px; display:block; font-size:18px; text-align:center; color:#535353; }
.time_true{ position:absolute; top:13px; right:8px;}
.time_optionbox .swiper-container{ height:100%;}
.time_optionbox .swiper-slide-active{}
.time_optionbox .swiper-slide-active a{ color:#04be02; }

.oth_stubox{ width:100%; background:rgba(59,58,64,0.8); position:absolute; left:0; top:100%; z-index:9; transform:translateY(-200%)}
.oth_stubox.show{transform:translateY(0)}
.oth_stubox a{ font-size:20px; color:#fff; text-align:center; display:block; padding:10px 0; border-bottom:1px solid #d1d1d1;}


.renselbox{ position:fixed; z-index:999999; width:100%;  height:100%; background:#f0eff5; top:0; left:0; transform:translateX(100%);-webkit-transform:translateX(100%); }
.renselbox.show{transform:translateX(0);-webkit-transform:translateX(0);}
