@charset "utf-8";
/* CSS Document */

/*就餐管理图标字体架构*/
@font-face {font-family: "jcgl_icon";
  src: url('../icon_font/jcgl/iconfont.eot'); /* IE9*/
  src: url('../icon_font/jcgl/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../icon_font/jcgl/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../icon_font/jcgl/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icon_font/jcgl/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.jcicon {
  font-family:"jcgl_icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
 /*-webkit-text-stroke-width: 0.2px;*/
  -moz-osx-font-smoothing: grayscale;
}

.ba_jcg{ background:#b5c334!important;}
.ba_jcy{ background:#ff9000!important;}
.qkynav_zu{ width:100%;}
.qkynav_zu a{ margin-right:2px; background:#fdd010; float:left; display:block; padding:10px 16px; color:#fff; font-size:18px; border-radius:6px 6px 0 0;}
.qkynav_zu a:hover,.qkynav_zu a.cur{ background:#f98222;}
.jcgl_nav{ width:100%; padding:0 16px; background:#fff; margin: auto 0; border:1px solid #ddd; box-sizing:border-box;}
.jcgl_nav a.qkybut{ font-size:16px; padding:14px  10px 10px; height:auto; line-height:normal; box-sizing:border-box; color:#898989; margin-right:10px;} 
.jcgl_nav  .qkysel{ margin:8px 0;}
.jcgl_navs{ width:100%; padding:12px 16px ; background:#fff; margin: auto 0; border:1px solid #ddd; box-sizing:border-box;}
.jcgl_main{width:100%; background:#fff; margin: auto 0; border:1px solid #ddd; box-sizing:border-box;}

.qky_weeknav{ width:100%; height:60px; padding:0 20px; border-bottom:1px solid #ddd;  box-sizing:border-box; position:relative;}
.weeknav_list{ width:100%; height:100%; line-height:28px; border-right:1px solid #e7f6fc;box-sizing:border-box;-webkit-transition: all 0.25s ease-out 0s;-moz-transition: all 0.25s ease-out 0s;transition: all 0.25s ease-out 0s;color:#888; cursor:pointer;}
.weeknav_list:hover,.weeknav_list.cur{ color:#b5c334;}
.weeknav_list span{ display:block; width:100%; height:50%; text-align:center;  font-size:14px;}
#weeknav.swiper-container{height:56px; overflow:hidden}
#weeknav .swiper-wrapper{height:56px;overflow:hidden}
#weeknav .swiper-slide{height:56px;overflow:hidden;padding:2px 0;}
.weekbut a{ position:absolute; width:20px; height:20px; color:#f98222; top:16px; z-index:666; }
.weekbut a i{ font-size:22px;}
.weekbut a.left{ left:2px;}
.weekbut a.right{ right:2px;}

.jcbox{ width:100%; position: relative; padding-bottom:28px;}
.jcbox_left{ width:66px; background:url(../images/jcboxbg.png) repeat-y center center; position:absolute; top:0; left:19%;}
.jc_type{ width:100%; height:66px; color:#fff; text-align:center; font-size:16px; background:no-repeat center center; margin:54px 0 18px; line-height:66px;}
.jc_type.zao{ background-image:url(../images/zao.png);}
.jc_type.wu{ background-image:url(../images/wu.png);}
.jc_type.wan{ background-image:url(../images/wan.png); margin-bottom:0;}
.jcbox_right{ width:74%; margin-left:26%;}
.cdul{ width:100%; padding-top:28px;}
.cdul li{ width:18%; margin:0 1%; position:relative; float:left;border-radius:6px;}
.cdul li img{ width:100%; border-radius:6px;}
.cdul li span.cdname{ position:absolute; bottom:3px; left:0; width:100%; background: url(../images/zaobg.png); border-radius:0 0 6px 6px; color:#fff; text-align:center; padding:8px 0;}
.cdul.wus li span.cdname{background: url(../images/wubg.png);}
.cdul.wan li span.cdname{background: url(../images/wanbg.png);}

.editbox{ padding:16px 24px;}
.jctoday i{ font-size:60px; color:#898989;}
.jctoday span{ display:block; line-height:36px; color:#898989; font-size:26px; margin-left:8px;}
.jctoday span.week{ font-size:18px;}

.edittab{ width:100%; margin-top:10px;}
.edittab td.et_tit{width:10%; background:#e7e7e7; text-align:center;color:#898989; font-size:16px; border-bottom:1px solid #fff;}
.edittab td.stu{border-left:1px solid #fff; border-bottom:1px solid #e7e7e7; width:40%; }
.edittab td.tea{border-left:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;width:40%;  }
.edittab .e_tit{ width:100%; text-align:center; height:40px; line-height:40px; color:#fff; background:#ffcc1d; font-size:16px; }
.edittab .e_tit.ischo{ background:#f98222}
.edittab .cdul{ padding:16px 0 0;}
.edittab .cdul li{ width:31%; margin-bottom:16px; position:relative; cursor:pointer;}
.edittab .cdul li.add{ background:#e7e7e7; color:#fff;  line-height:98px; text-align:center; cursor:pointer;}
.edittab .cdul li.add i{font-size:26px;}
.edittab .cdul li span.cdname{background: url(../images/wubg.png);}
.edittab .tea .e_tit{ background:#26747d;}
.edittab .tea .cdul li span.cdname{background: url(../images/othbg.png);}
.cdul_close{ position:absolute; width:30px; height:30px; top:-10px; right:-10px;}
.cdul_close img{ width:100%;}

.cdul_del{position:absolute; width:30px; height:30px; top:-10px; right:-10px; text-align:center; line-height:26px; background:#fff; border-radius:50%; display:none;}
.cdul_del i{ font-size:24px; color:#f98222;}
.cdul_cho{position:absolute; width:100%; height:100%; top:0; right:0; text-align:center;  background: url(../images/bg101.png); border-radius:6px; display:none;}
.cdul_cho i{ font-size:40px; color:#f98222; padding-top:28px; display:inline-block;}

.edittab.sig .cdul li{ width:16%;}
.edittab.six .cdul li{ width:18%;}
.edittab.six .e_tit{height:30px; line-height:30px;}
.edittab.six td.stu{ background:#f6f6f6; border-bottom:1px solid #fff;}

.upcpimg{ width:80%; margin:0 auto 16px; position:relative; text-align:center; }
.upcpimg i{ font-size:80px; color:#d7d7d7;cursor:pointer;}
.upcpimg span{ display:block; position:absolute; bottom:0; left:0; width:100%; color:#fff; height:26px; line-height:26px; font-size:12px;}
.ycfile{ position: absolute; width:100%; height:100%; left:0; top:0;filter:alpha(opacity=0); opacity:0; z-index:66;cursor:pointer;}

.qkytable.inmask th{ box-shadow:none !important; border-right:1px solid #fff;}
.qkytable.inmask td{ border-right:1px solid #fff;}
.qkytable.inmask td.one{ border-left:1px solid #fff;}
.mask_int{ width:80%; border:1px solid #e6d9bc; height:32px; line-height:32px; background:#fff; text-align:center; }
.qkytable .mask_tr td{ background:#ffedc6 !important; border-bottom:1px solid #fff !important;}
.add_hang td{ border-bottom:none !important;}
.add_hang a.addhang{ color:#cecece; font-size:16px;}
.add_hang a.addhang i{ font-size:16px;}

.jc_bigtitle{ padding:12px 50px; background:#c1232b; border-radius:0 0 40px 40px; color:#fff; font-size:18px; font-weight:bold;}
.jc_bigtitle span{ font-size:26px;}
.tjinfo_left{ width:7.8%;box-sizing:border-box;}
.tjinfo_left ul{ width:100%; border-radius:30px 0 0 0; margin-top:29px;}
.tjinfo_left ul li{width:100%; border-radius:30px 0 0 0; background:#fdd010; border-top:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff; margin-top:-30px;}
.tjinfo_left ul li.cur,.tjinfo_left ul li:hover{ background:#3c8088;}
.tjinfo_left ul li a{ display:block; color:#fff; font-size:20px; height:160px; line-height:160px; text-align:center;}
.tjinfo_right{ width:92%; box-sizing:border-box; }
.gd{height:374px; overflow-y:scroll;}
.databox{ width:100%; margin-top:16px;}
.datatit{ width:100%; text-align:center; height:40px; line-height:40px; color:#fff; background:#b5c334; font-size:18px;}
.datatit.tea{ background:#b5c334;}
.datatit.stu{ background:#f98222;}
.datatit.all{ background:#fdd010;}
.datamain{ width:100%; margin:8px 0 16px; height:400px;}

.cbox{ width:100%;}
.cbox .jc_type{ width:66px; margin:0;}
.cbox .jc_type.line{ background: url(../images/todayline.png) repeat-x left center; width:50px; margin-left:6px;}
.cbox .cdul{ padding:13px 0;}
.cbox .cdul li{ width:16%;}

.jcgl_main.wd_75 .cbox .cdul li{ width:22%;}
.jcgl_teacho{ width:24%;border:1px solid #ddd; box-sizing:border-box; background:#fff;}
.teaad{ width:100%; position:relative;}
.teaad label{ display:block; font-size:50px; color:#454444; font-weight:bold; position:absolute; width:50%; top:50px; left:20px;}
.teaad span{ display:block; font-size:30px; color:#fff; font-weight:bold; position:absolute; width:100%; top:156px; left:0; text-align: center;}
.teaad span.s2{font-size:14px;color:#454444; font-weight: normal;width:90%; top:210px; left:5%;}
.teaad span.s2 b{ text-decoration:underline; color:#111;}
.teaad img{ width:100%;}
.teacho{ width:100%; padding-bottom:34px;}
.teacho span{ width:100%; display:block; font-size:16px; color:#898989; height:36px; line-height:36px;}
.teacho span label{ color:#c1232b;}
.qkybut.hbg.ba_red{ background:#c1232b;border-color:#c1232b;}
.qkybut.hbg.ba_red:hover{box-shadow:0 1px 4px #ddd; background:#940f16; border-color:#940f16;}
.qkybut.hbg.ba_green{ background:#b5c334;border-color:#b5c334;}
.qkybut.hbg.ba_green:hover{box-shadow:0 1px 4px #ddd; background:#8f9d0e; border-color:#8f9d0e;}

#msgicon{ font-size:60px; display:block; text-align:center;}
#msgtxt{ font-size:16px; color:#898989; width:100%; text-align:center; height:36px; line-height:36px; margin-bottom:16px;}


.jcbox_tab{ width:80%;display:block; margin:0 0 16px 16%;}
.jcbox_tab .jc_type{ margin:0;}
.jcbox_tab .cdul{ padding-top:0;}
.jcbox_tab .cdul li{ margin-bottom:8px;}
.jcbox_tab td{ padding:16px 0;}
.jcbox_tab td.type{ width:15%; background:url(../images/jcboxbg.png) repeat-y center center;}
.jcbox_tab td.ul{ width:85%;}