/*************************************************************
基础信息：
	主明：此css为公共应用的样式，包括公共模块样式，和基础样式，一般附加样式请另起css;
	可以添加和修改里面的样式，但得注明版本和更新内容;
	初始化版本号：1.0;
	初始化人员：zwt;
	日期：2016/01/12;
**********************************************************
更新信息：
	更新日期：2016/02/22
	更新人员：zwt
	更新后版本号：2.0
	更新内容：更新更细节的基础样式，把颜色和一些普遍使用到的属性脱出，方便整体调整
	
	更新日期：2016/06/22
	更新人员：zwt
	更新后版本号：2.1
	更新内容：简化框架css，深度定制了一些内外边距

**************************************************************/

@charset "utf-8";

/*公用图标字体架构*/
@font-face {font-family: "qky_icon";
  src: url('../icon_font/iconfont.eot'); /* IE9*/
  src: url('../icon_font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../icon_font/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../icon_font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../icon_font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.qkyicon {
  font-family:"qky_icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
 /*-webkit-text-stroke-width: 0.2px;*/
  -moz-osx-font-smoothing: grayscale;
}



/*基础样式*/
body{ font-size:14px; font-family: Arial,Microsoft YaHei; color:#666666; overflow-x:hidden; width:100%;-webkit-text-stroke: 1px transparent; background:#f3f3f3;}
*{ margin:0; padding:0; text-decoration:none; list-style:none; font-weight:normal;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
li,ul{list-style:none; margin:0; padding:0;}
img,button,input,select{ border:0px; outline:none;}

a{ cursor:pointer; text-decoration:none;}
i,em{ font-style:normal;}
textarea,input{ outline:none;}

/*浮动*/
.fl{ float:left!important;}
.fr{ float:right!important;}
/*清除浮动*/
.clear{ clear:both;}
.clear2{ clear:both; zoom:1;}
.clear3:before,.clear3:after{ content: " "; display: table;}
.clear3:after {clear: both;}

/*隐藏*/
.yc{ display:none;}

/*特殊css*/
.trn{-webkit-transition: all 0.25s ease-out 0s;-moz-transition: all 0.25s ease-out 0s;transition: all 0.25s ease-out 0s;}/*过度执行动画  ie8以及以下没作用*/
.r45{transform:rotate(45deg); -webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);}/*旋转45度  ie8以及以下没作用*/
.r90{transform:rotate(90deg); -webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);}/*旋转90度  ie8以及以下没作用*/
.dian3{ overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}/*单行文字超出显示...*/
.t_i{text-indent:2em;}/*段落缩进*/
.mbm{margin:0 auto; display:block; max-width:100%;}/*图片水平居中*/
.bshw{ box-shadow:0 2px 3px #ccc;}
.bshw1{ box-shadow:0 4px 4px #ddd;}
.bshw2{ box-shadow:0 1px 2px #eee;}


/*文字水平*/
.t_r{ text-align:right!important;}
.t_l{ text-align:left!important;}
.t_c{ text-align: center!important;}

/*文字颜色  颜色可调*/
.co_z1{ color:#111!important;}/*深灰*/
.co_z3{ color:#333!important;}/*平常灰*/
.co_z6{ color:#666!important;}/*淡灰*/
.co_z9{ color:#999!important;}/*一点灰*/
.co_w{ color:#fff  !important;}/*白*/
.co_b{ color:#f98222 !important;}/*蓝*/
.co_b2{ color:#fdd010 !important;}/*蓝2（淡）*/
.co_y{ color:#ff6600!important;}/*黄*/
.co_y2{ color:#e76847!important;}/*黄2（淡）*/
.co_g{ color:#46b198!important;}/*绿*/
.co_g2{ color:#32b754!important;}/*绿2（淡）*/
.co_or{ color:#e38748!important;}/*橘*/
.co_red{ color:#ff2b7f !important;}

/*背景颜色*/
.ba_z1{ background:#111;}
.ba_z3{ background:#333;}
.ba_z6{ background:#666;}
.ba_z9{ background:#999;}
.ba_f1{ background:#f1f1f1;}
.ba_f9{ background:#f9f9f9;}
.ba_w{ background:#fff;}
.ba_b{ background:#f98222  !important;}
.ba_g{ background:#46b198 ;}
.ba_b2{ background:#fdd010 !important;}
.ba_g2{ background:#32b754;}
.ba_y2{ background:#eab323;}
.ba_or{ background:#e38748;}

/*文字字号*/
.fz_0{ font-size:12px!important;}
.fz_1{ font-size:14px!important;}
.fz_2{ font-size:16px!important;}
.fz_3{ font-size:18px!important;}
.fz_4{ font-size:20px!important;}
.fz_5{ font-size:22px!important;}
.fz_30{ font-size:30px!important;}
.fz_40{ font-size:40px!important;}

/*边框*/
.br_eee{ border:1px solid #eee;}
.brt_eee{ border-top:1px solid #eee;}
.brb_eee{ border-bottom:1px solid #eee;}
.brl_eee{ border-left:1px solid #eee;}
.brr_eee{ border-right:1px solid #eee;}

.br_ddd{border:1px solid #ddd;}
.br_fff{border:1px solid #fff;}
.br_f1{border:1px solid #f1f1f1;}
.br_f9{border:1px solid #f9f9f9;}
.br_ddd{border:1px solid #ddd;}
.br_nt{ border-top:none;}
.br_nb{ border-bottom:none;}
.br_nl{ border-left:none;}
.br_nr{ border-right:none;}

/*圆角 ie8以及以下没作用*/
.brra_4{ border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.brra_6{ border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}
.brra_8{ border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;}
.brra_50{ border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%px;}/*圆形 ie8以及以下没作用*/

/*内边距*/
.pa_16{ padding:16px!important;}
.pa_14{ padding:14px!important;}
.pa_12{ padding:12px;!important;}
.pa_tb12{ padding:12px 0!important;}
.pa_tb14{ padding:14px 0!important;}
.pa_tb16{ padding:16px 0!important;}
.pa_lr12{ padding:0 12px!important;}
.pa_lr14{ padding:0 14px!important;}
.pa_lr16{ padding:0 16px!important;}

.Pl16{ padding-left:16px!important;}
.Pr16{ padding-right:16px!important;}
.Pr10{ padding-right:10px!important;}
.Pl10{ padding-left:10px!important;}
.Pr6{ padding-right:6px!important;}
.Pl6{ padding-left:6px!important;}

.Pt16{ padding-top:16px!important;}
.Pb16{ padding-bottom:16px!important;}
.Pt10{ padding-top:10px!important;}
.Pb10{ padding-bottom:10px!important;}
.Pt6{ padding-top:6px!important;}
.Pb6{ padding-bottom:6px!important;}


/*外边距*/
.ma_tb16{ margin:16px auto!important;}
.ma_tb14{ margin:14px auto!important;}
.ma_tb12{ margin:12px auto!important;}
.ma_lrauto{ margin:0 auto!important;}

.ml16{ margin-left:16px!important;}
.mr16{ margin-right:16px!important;}
.mr10{ margin-right:10px!important;}
.ml10{ margin-left:10px!important;}
.mr6{ margin-right:6px!important;}
.ml6{ margin-left:6px!important;}

.mt26{ margin-top:26px!important;}
.mb26{ margin-bottom:26px!important;}
.mt16{ margin-top:16px!important;}
.mb16{ margin-bottom:16px!important;}
.mt10{ margin-top:10px!important;}
.mb10{ margin-bottom:10px!important;}
.mt6{ margin-top:6px!important;}
.mb6{ margin-bottom:6px!important;}


/*百分比宽度*/
.wd_100{ width:100%!important;}
.wd_90{ width:90%!important;}
.wd_80{ width:80%!important;}
.wd_75{ width:75%!important;}
.wd_70{ width:70%!important;}
.wd_60{ width:60%!important;}
.wd_50{ width:50%!important;}
.wd_55{ width:55%!important;}
.wd_40{ width:40%!important;}
.wd_48{ width:48%!important;}
.wd_30{ width:30%!important;}
.wd_20{ width:20%!important;}
.wd_15{ width:15%!important;}
.wd_10{ width:10%!important;}
.wd_5{ width:5%!important;}
.wd_1{ width:1%!important;}

/*div阴影  ie8以及以下没作用*/
.box_shadow{box-shadow:0px 2px 3px #eee;-webkit-box-shadow:0px 2px 3px #eee;-moz-box-shadow:0px 2px 3px #eee;}
.box_s2{box-shadow:1px 2px 4px #bbb;-webkit-box-shadow:1px 2px 4px #bbb;-moz-box-shadow:1px 2px 4px #bbb;}

.wrapper{ padding-top: 96px;}
/*顶部模块框架样式*/
.qky_header{  position:fixed;width:100%; z-index:100; overflow:hidden; margin:0; left:0;top:0;}
.header1{ background:#f98222;}
.header2{ background:#f3f3f3;}
.qky_top_box{width:1000px;margin:0 auto; }
.qky_top_txt{height:48px; line-height:48px;}
.qky_logo{ padding:0; float:left; height:46px; line-height:16px;margin-right:20px;}
.qky_logo img{ margin:6px 0 0; vertical-align:inherit;}
.qky_top_navs{ float:left;}
.qky_top_navs li{ float:left;line-height:48px; margin-right:2px;}
.qky_top_navs li a{line-height:48px;  height:48px;font-size:14px; text-align:center; color:#fff; display:block;padding:0 25px;}
.qky_top_navs li a:hover,.qky_top_navs li .cur{ background:#fdd010;}
.qky_top_search{ float:right; text-align:right; margin-left:60px;height:48px; line-height:48px; overflow:hidden;}
.qky_top_search a{ padding:0 8px; font-size:13px; display:inline-block; position:relative; color:#666;}
.qky_top_button{ width:112px; height:30px; float:right; margin-top:7px;}
.qky_top_button a{  border-radius:4px; border:1px solid #e7e7e7; display:block; line-height:30px; text-align:center; cursor:pointer; color:#666;}
.qky_top_button a:hover{ border:1px solid #f98222; color:#fff; background:#f98222;}
.qky_top_button a i{margin-right:6px;}
.qky_tab{ height:48px; line-height:48px; padding:0 21px; border:1px solid #fff; border-bottom:none; border-top:none; margin-left:-1px; cursor:pointer;color:#fff;}


/*中部模块框架样式*/
.qky_content{ width:100%; height:auto;}
	/*中部导航模块框架样式*/
	.qky_nav { width:1000px; height:auto; background:#fff; margin:14px auto 0;}
	/*中部主要模块框架样式*/
	.qky_main{width:1000px; height:auto;  margin:0 auto; padding-top:16px;}
		

/*底部模块框架样式*/
.qky_footer{ width:100%; background:#fff; padding:14px 0;}
.qky_footer div{ text-align:center; color:#666; line-height:30px;}
.qky_footer div img{ margin:5px auto; display:block;}



