@charset "utf-8";
/* CSS Document */

@font-face {font-family: "app_icon";
  src: url('../iconfont/appicon_font/iconfont.eot'); /* IE9*/
  src: url('../iconfont/appicon_font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/appicon_font/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../iconfont/appicon_font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/appicon_font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.appicon {
  font-family:"app_icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
 /*-webkit-text-stroke-width: 0.2px;*/
  -moz-osx-font-smoothing: grayscale;
}

.main_bg{ width:100%; padding:12px 16px ; background:#fff; margin: auto 0; border:1px solid #ddd; box-sizing:border-box;}
.wd_27{ width:27% !important; }
.wd_63{ width:63% !important; }
.lh20{ line-height:20px !important;}
.lh32{ line-height:32px !important;}
.jl_nav{ width:160px; background:url(../images/Shape.png) repeat-y 5% 0; margin:50px 0; position:fixed; top:200px; right:0; z-index:9999999999; }
.jl_nav li{ padding-left:1%;}
.jl_nav li a{ width:100%; display:block; padding-bottom:64px;}
.jl_nav li a b{ background:url(../images/yuan_mr.png) no-repeat 50% 50%; width:22px; height:22px; line-height:22px; text-align:center; color:#fff; font-size:14px; display:block; margin-right:6px;}
.jl_nav li a.cur b{ background-image:url(../images/yuan.png);}

.br_tyd{ border-bottom:1px dashed  #e6e6e6;}

.ea_box{ height:400px; background-color:#def2fb !important; width:49.5%;}