@charset "utf-8";
/*--
若非引用浙江门户页面的全部样式，请在引用样式表时将原头部注释内容去掉！并将非引用的样式删除，以免造成code累赘，以免造成误会！ -Alice 2015-11-20
-- */
body{ font-size:14px; font-family: Arial,Microsoft YaHei; color:#666666; overflow-x:hidden; width:100%; background:#e2eff1;}
*{ margin:0; padding:0; text-decoration:none; list-style:none; font-weight:normal;}
img,button{ border:0px;}
img{vertical-align: middle;}
a{ color:#666;}
i,em{ font-style:normal;}
textarea,input{ outline:none;}
.clear{ clear:both; zoom:1;}
.fl{ float:left;}
.fr{ float:right;}
.clear{ clear:both;}
.grn{ color:#4dbb3e !important;}
.org{ color:#f60 !important;}
.white{ background:#fff;}

.header{background:#eef0ed; height:40px; line-height:40px; position:fixed; color:white; width:100%; z-index:100; overflow:hidden; margin:0; left:0;top:0;}
.top-nav {width: 980px;margin:0 auto; color:white;} 
.logo{ margin-right:20px;}
.logo{ padding:0; float:left; height:36px;}
.logo img{ margin:1% 0; vertical-align:inherit;}
ul.navs li a{ padding:0 12px;}
ul.navs, ul.navs li{list-style:none; margin:0; padding:0;}
ul.navs, ul.navs li{ float:left;line-height:40px; margin-right:2px;}
ul.navs li a{line-height:40px;  height:40px; color:#000; font-size:14px; text-align:center; display:block;}
ul.navs li .cur{ background:#dee1e0;}
ul.navs li a:hover,#top-leftnav > ul li:hover{ background:#dee1e0;}
.top-search{ float:right; text-align:right; width:340px;height:40px; line-height:40px; overflow:hidden;}
.top-search a{ padding:0 8px; color:#000; font-size:13px; display:inline-block; position:relative;}

/*新建学生档案袋* -2015.11.20/*/
.content02{ width:100%; _width:expression((documentElement.clientWidth<1000)?'1000px':'auto'); height:auto; overflow:hidden; margin-top: 40px; font-size:12px;}
.wrapper{ width:980px; height:auto; background:#fff; margin:0 auto; overflow:hidden;}
#menu{ width:140px; overflow:hidden; float:left; color:#5c5c5c; background:#e7e7e7; border-right:1px solid #ccc; border-left:1px solid #ccc;}
#nav{ width:140px; height:auto; position:relative; overflow-x:hidden; overflow-y:auto;}
#nav h2{ line-height:30px; font-size:12px;  background:#e7e7e6;  color:#231815; font-weight:bold; padding-left:20px; border-bottom:1px solid #b4b4b5;}
#nav *{ text-align:left;}
#nav h1,#maincont #label a{ line-height:40px; font-size:12px; text-align:center; background:#fff; color:#5c5d5d; border-bottom:1px solid #b4b4b5;}
#nav ul{ height:30px; overflow:hidden; list-style:none; margin:0; padding:0; cursor:pointer; border-bottom:1px solid #888;}
#nav ul span{ height:30px; line-height:30px; display:block; background:#e7e7e7 url(../images/left-arrow-2.png) no-repeat right top; text-align:left; padding:0 0 0 20px; position:relative; color:#5c5d5d;border-bottom:1px solid #888;}
#nav h2.all{ background:url(../images/all-icon.png) 15px 10px no-repeat; padding-left:30px; cursor:pointer; color:#40b386; font-weight:normal;}
#nav ul.open{ height:auto;}
#nav ul.open span,#nav ul span:hover{ background:#40b386 url(../images/left-arrow.png) no-repeat top right; color:#fff;}
#nav ul span,#nav ul li{border-bottom:1px solid #888;}
#nav ul li a{ width:115px; height:34px; line-height:34px; display:block; padding-left:25px; color:#666; background:#c8c9ca; border-left:5px solid #c8c9ca; }
#nav ul li a em{ width:35px; height:15px; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; background:#40b386; display:block; float:right;margin-right:15px; margin-top:7px; line-height:15px; color:#fff; text-align:center;}
#nav ul li a:hover,#nav ul li a.current{ background:#fff; border-left:5px solid #40b386; color:#5c5d5d;}

.main-nav{ width:100%;}
.main-nav .wrap{ width:978px; height:40px; background:#fff; margin:0 auto; border:1px solid #b4b4b5; border-top:none;overflow:hidden;}
/*.main-nav a{line-height:40px; font-size:12px; overflow:hidden; float:left; padding:0 30px;  color:#5c5d5d; border-right:1px solid #b4b5b6;}
.main-nav  a:hover,.main-nav a.cur{ color:#fff; background:#61c1cc;}
*/
.maincont{ width:836px; overflow:hidden; float:left;}
.cont h2{ line-height:30px; font-size:12px;  background:#fff;  color:#231815; padding-left:20px; border-bottom:1px solid #b4b4b5;}
ul.list-n{ width:836px; height:auto; overflow:hidden; background:#f8f8f9; padding:15px 0;}
ul.list-n li{ width:48px; margin:7px 10px; float:left; font-size:12px; overflow:hidden;}
ul.list-n li .name{ width:45px; height:15px;overflow:hidden; text-align:center;}
ul.list-n li .name a{ width:100%;float:left; height:15px; overflow:hidden; padding:0; margin:0; } 
ul.list-n li .name span{display:block; margin-top:-15px;} 
ul.list-n li .name a:hover{padding-top:14px; background:#61c1cc; color:#fff; border-radius:5px;}  
ul.list-n li img{ width:40px; height:40px;border:3px solid #f8f8f9; border-radius:25px; -moz-border-radius:25px;-webkit-border-radius:25px;}
ul.list-n li img:hover{ border:3px solid #61c1cc;}
ul.list-n li .add{ width:40px; height:40px; background:url(../images/add-a.png); display:block;}


/*学籍信息类*/
.stu_its{max-height:860px; overflow-y:scroll;scrollbar-highlight-color: #fff;}
.stu_it ul{ padding:15px 10px; }
.stu_it ul li,.stu_it ul ol{ float:left; width:376px; height:230px; margin:10px; border:1px solid #e9e9e9;}
.stu_it ul li{ background:#EEF6F3; position:relative;}

.stu_it ul li .stu_pics{ margin:10px auto 0; width:358px; height:210px;}
.stu_it ul li .stu_pics_tit{ position:absolute; top:20px; left:20px; color:#5c5d5d; font-size:14px;}
.stu_it ul ol a{ display:block; font-size:14px; color:#3fbd8c; width:120px; text-align:center; height:25px; line-height:25px; border:1px solid #e7e7e7; margin:98px auto 0;-moz-border-radius:4px; -webkit-border-radius:4px;border-radius:4px;}
.stu_it ul ol a i{background: url(../images/all-icon.png) 0 0 no-repeat; display:inline-block; width:11px; height:11px;}
.stu_it ul ol a:hover{ border:1px solid #3fbd8c;}

.scroll{
	scrollbar-arrow-color: #f4ae21; /*图6,三角箭头的颜色*/
scrollbar-face-color: #333; /*图5,立体滚动条的颜色*/
scrollbar-3dlight-color: #666; /*图1,立体滚动条亮边的颜

色*/
scrollbar-highlight-color: #fff; /*图2,滚动条空白部分的

颜色*/
scrollbar-shadow-color: #999; /*图3,立体滚动条阴影的颜

色*/
scrollbar-darkshadow-color: #666; /*图4,立体滚动条强阴

影的颜色*/
scrollbar-track-color: #666; /*图7,立体滚动条背景颜色*/

scrollbar-base-color:#f8f8f8; /*滚动条的基本颜色*/

	}

.scroll::-webkit-scrollbar-track {
		  background-color: #fff;
	} /* 滚动条的滑轨背景颜色 */

	.scroll::-webkit-scrollbar-thumb {
		  background-color: rgba(0, 0, 0, 0.2); 
	} /* 滑块颜色 */

	.scroll::-webkit-scrollbar-button {
		  background-color: #7c2929;
	} /* 滑轨两头的监听按钮颜色 */

	.scroll::-webkit-scrollbar-corner {
		  background-color: black;
	} 
	
.main_top{ height:30px; padding:15px 20px;}
.main_top .srh{ float:right; border:1px solid #eee;-moz-border-radius:2px; -webkit-border-radius:2px;border-radius:2px; height:20px; line-height:20px; padding:2px; width:234px;}
.main_top .srh .text{ width:182px; border:none; float:left; color:#888; line-height:20px;}
.main_top .srh .btn{ width:46px; float:right; border:1px solid #ccc; height:20px; line-height:20px; background:#f9f9f9;-moz-border-radius:4px; -webkit-border-radius:4px;border-radius:4px; cursor:pointer;}
.main_top .srh .btn:hover{ border:1px solid #3fbd8c;}
.main_top .btn_rtn{ float:left;}
.main_top .btn_rtn a{ display:block; width:70px; text-align:center; border:1px solid #e7e7e7; height:22px; line-height:22px;-moz-border-radius:4px; -webkit-border-radius:4px;border-radius:4px;color:#3fbd8c;}
.main_top .btn_rtn a i{ display:inline-block; background:url(../images/ico_return.png) 0 0 no-repeat; width:14px; height:11px; margin:5px 5px 0 0;}
.main_top .btn_rtn a:hover{border:1px solid #3fbd8c;}
.stu_tables{clear:both; padding:0 5px;}
.stu_tables .table1{ border-left:1px solid #ddd; border-top:1px solid #ddd;}
.stu_tables .table1 th,.stu_tables .table1 td{ text-align:center; border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding:5px 0; line-height:20px;}
.stu_tables .table1 th{padding:8px 0; background:#a8b5bd; color:#fff;border-right:1px solid #a8b5bd;}
.stu_tables .table1 .td_bg1{ background:#eef6f3;}
.stu_tables .table1 .curr{ background:#61c2cc !important; color:#fff;}


