@charset "utf-8";
/* CSS Document */


.top_button{ width:112px; height:30px; float:right; margin-top:5px;}
.top_button a{ background:url(../images/top_but.png) no-repeat; color:#fff; display:block; line-height:30px; padding-left:40px;}
.top-search{ width:230px;}



.main-nav{ width:100%; margin:16px 0 12px;}
.main-nav .wrap{ width:978px; height:auto; background:#fff; margin:0 auto; border:1px solid #ddd;overflow:hidden;}
.wrap_ul{ width:100%; height:45px; background:#f9f9f9; border-bottom:1px solid #ddd; }
.main-nav .wrap_ul a{line-height:45px; font-size:12px; overflow:hidden; float:left; padding:0 30px;  color:#555; border-right:1px solid #e7e7e7;}
.main-nav  .wrap_ul a:hover,.main-nav a.cur{ color:#1a93b6; border-top:2px solid #ffa918; background:#f9f9f9;line-height:42px;}

.back_but{ float:right; margin:8px 26px 0 0;}
.back_but:hover{ opacity:0.8;}
.wrap_main{ width:100%; background:#fbf6ee; border-bottom:1px solid #ddd;}
.wrap_main_tit{ padding:23px 25px 20px;}
.wrap_main_tit span{ float:left; color:#333; line-height:36px; font-size:24px;}
.tit_but{ float:right;background: url(../images/fabu_bg.png) no-repeat; width:100px; height:36px; line-height:36px; text-align:center; color:#fff; font-size:16px;}
.wrap_main_info{padding:0 25px 23px; }
.wrap_main_info li{ float:left; color:#666; margin-right:20px;}
.wrap_main_info li span{ color:#333;}

.wrap_chick{ padding: 14px 25px;}
.wrap_chick li{ float:left; margin-right:55px;}
.wrap_chick li span{ color:#333; font-size:13px; line-height:30px;}
.wrap_chick li  input{ width:208px; height:27px; color:#666; font-size:13px; padding-left:8px;}
.wrap_chick li  select{ width:190px; height:29px; color:#666; font-size:13px; padding-left:8px;}
.wrap_chick li .wrap_chick_but{  padding:0 30px 0 40px; height:30px; line-height:30px; color:#fff;  background:#ff9900; font-size:14px;letter-spacing:10px; cursor:pointer;}
.wrap_chick li .wrap_chick_but:hover{ background:ff7700;}
.mt li{ margin-top:3px;}

.main-nav .bb_y{ border-bottom:1px solid #ffa918; margin:12px auto;}
.wrap_box{padding:12px 28px;}
.wrap_box_icon{ margin-top:4px;}
.wrap_box_text{ line-height:26px; font-size:14px; color:#333;}
.wrap_box_text div{ float:left; margin-right:10px;}
.fl_ch{ border:1px solid #ddd; position:relative; padding:0 16px;}
.fenli_close{ position:absolute; top:-10px; right:-10px;}

.wrap_box_text span{ font-size:12px; float:left}
.wrap_box_but{ margin-left:16px;}

/*考试成绩导航附加样式*/


.wrap_exam{ padding: 13px 28px;}
.wrap_exam li{ float:left; margin-right:32px; margin-bottom:16px;}
.wrap_exam li.fr{ float:right;}
.wrap_exam li span{ color:#333; font-size:13px; line-height:30px;}
.wrap_exam li  select{ width:190px; height:29px; color:#666; font-size:13px; padding-left:8px;}
.wrap_exam li.long  select{width:360px;}
.wrap_exam li .wrap_chick_but{  padding:0 20px 0 30px; height:30px; line-height:30px; color:#fff;  background:#ff9900; font-size:14px;letter-spacing:10px; cursor:pointer;}
.wrap_exam li .wrap_chick_but:hover{ background:ff7700;}

.more_choose{ background:url(../images/more_choose.png) no-repeat; padding:0 10px 0 34px; margin-top:2px; height:28px; color:#666; line-height:28px; cursor:pointer;}




.analyse_tit{ width:100%; text-align:center; padding:10px; font-size:22px; color:#fff; background:#57bfdc; margin-bottom:18px;}
/*成绩详细表格样式*/

.score_main{ width:100%;}
.score_tables{ width:978px; border:1px solid #ddd;}
.score_tables .bt1{ border-bottom:1px solid #ddd;}
.score_tables th{ background:#f9f9f9; border-bottom:1px solid #ddd; padding:10px 0; color:#999;}
.score_tables td{  border-bottom:1px solid #ddd; padding:10px 0; color:#333; font-size:14px;}
.score_tables .ta_foot td{ border-bottom:none;}
.score_tables td.ta_color66{color:#999;}
.score_tables td a{ padding:0 10px; height:32px; line-height:32px; color:#666; text-align:center; float:left; margin-left:24px; background:#cae5ed; cursor:pointer;}
.score_tables td a.aon,.score_tables td a:hover{ color:#fff; background:#58b2cc;}
.score_tables td.ta_icon{ display:inline-block; background:url(../images/exam_table_icon.png) no-repeat; width:129px; padding:0; height:73px; border-bottom:none;}
.ta_date{ color:#fff; padding:27px  0 0 14px ;}
.ta_time{ color:#58b2cc; padding:7px  0 0 25px ;}
.score_tables .checkbox{ padding-top:12px;}
.score_tables .checkbox2{ padding-top:13px;}

.analyse_box{ width:94%; margin:0 auto;}
.analyse_box .score_tables{ width:100%; border:1px solid #ddd; border-bottom:none;}
.analyse_tit2{ width:100%; padding:5px 0; background:url(../images/tit_bg.png) no-repeat 120px 50%; color:#379bbb; font-size:18px; margin:16px auto 10px;}

.analyse_all_box{ width:100%; position:relative;}
.all_label{ position:absolute; top:96px; left:180px; width:97px; height:110px; color:#aaa; font-size:26px; text-align:center; background:url(../images/all_label.png) no-repeat left bottom; }
.analyse_all{ width:100%; height:300px;  }
.all_control_box{ width:50%; position:absolute; top:0; right:0;}
.all_control_box li{ width:100%; margin:36px 0;}
.control_icon{ width:18%;}
.control_ware{ width:78%;}
.control_ware span{ padding:0 6px; line-height:30px; height:30px;}
.control_ware_tiao{ width:80%; height:28px; border:1px solid #ddd; background:#f9f9f9; border-radius:4px; position:relative;}
.kuai{ width:10px; height:34px; background:#fff; border:1px solid #ddd; border-radius:4px; position:absolute; top:-4px; cursor:pointer; z-index:22;}
.kuai_min{ height:30px; position:absolute; top:-1px; z-index:21}
.kuai_left1{left:60%;}
.kuai_right1{ left:98%;}
.ku_m1{background:#ef6464;}
.kuai_left2{left:30%;}
.kuai_right2{ left:60%;}
.ku_m2{background:#94c45c;}
.kuai_left3{left:8%;}
.kuai_right3{left:30%;}
.ku_m3{background:#44c0c8;}
.kuai_left4{left:1%;}
.kuai_right4{left:8%;}
.ku_m4{background:#ffcb7c;}



.analyse_any{ width:100%; height:300px; margin-bottom:26px; }

.any{ border:1px solid #fff;}
.any th{ color:#379bbb; background:#c4ecf7;border-bottom:1px solid #fff; padding:16px 0; border-right:1px solid #fff;}
.any tr{background:#e8f5f7;}
.any tr.even{ background:#f5fafb;}
.any td{ border-bottom:1px solid #fff; padding:16px 0; color:#333; border-right:1px solid #fff; }
.any td.kemu_td{ background:#c4ecf7;color:#379bbb;}

.km_tit{ width:100%; margin:16px auto;  position:relative;}
.km_tit li{ float:left; padding:10px 25px; color:#333; font-size:14px; position:relative; z-index:11; cursor:pointer;}
.km_tit li:hover,.km_tit li.lion{  color:#ff6600; border-bottom:1px solid #ff6600;}
.km_tit .hr{ position:absolute; bottom:0; left:0; width:100%; height:1px; background:#eee; z-index:10;}

/*分页样式*/

.paging{ margin:20px 340px;}
.paging li{ float:left; padding:8px 12px; border:1px solid #ddd; margin-right:12px; font-size:13px; color:#333; cursor:pointer; }
.paging .pa{padding:7px 12px;}
.paging li:hover,.paging li.licur{ color:#ff9900; border:1px solid #ff9900; background:#fae7c8;}

/*底部样式*/

.foot{ width:100%; background:#f2f2f2; padding:14px 0; margin-top:14px;}
.foot div{ text-align:center; color:#666; line-height:30px;}
.foot div img{ margin:5px auto; display:block;}

/*弹层样式*/
.score_mask_box{ width:100%; height:100%; position:fixed; top:0; left:0; z-index:22;}
.score_mask{ width:100%; height:100%; position:fixed; top:0; left:0; z-index:23; background:url(../images/mask_bg.png);}
.score_mask_main{ width:509px; border-radius:10px; border:4px solid #ddd; background:#fff; position:relative; z-index:24; margin:10% auto;}
.main_title{ color:#58b2cc; border-bottom:1px solid #ffa918; padding:16px 20px; font-size:16px; position:relative;}
.mask_close{ position:absolute; top:16px; right:20px; cursor:pointer;}
.score_mask_main ul{ padding:16px 40px 22px;}
.score_mask_main ul li{ padding:10px 0;}
.score_mask_main ul li.text_cen{ width:100%; text-align:center; font-size:18px; color:#666; padding-bottom:28px;}
.main_text{ line-height:30px; height:30px; margin-right:5px;}
.main_cont{ width:350px;}
.mc345{ width:345px;line-height:30px; height:30px; position:relative;}
.mc130{ width:110px;line-height:30px; height:30px;}
.mc50{ width:50%;}
.mr{ margin-right:36px}
.time_icon{ position:absolute; top:-1px; right:10px;}

.main_cont input{ border:1px solid #ddd; height:28px; width:100%;}
.mc345 input{  color:#666; padding:0 20px 0 8px; width:92%; }
.mc130 input{color:#666; padding-left:8px; width:100%;}
.mc50 input{color:#666; padding-left:2px;border:1px solid #ddd; height:28px; width:96%;}

.main_cont select{ border:1px solid #ddd; height:30px; width:100%;}
.mc345 select{  color:#666; padding:0 20px 0 8px; width:100.5%; }
.mc130 select{color:#666; padding-left:8px; width:109.5%;}
.mc50 select{color:#666; padding-left:2px;border:1px solid #ddd; height:28px; width:100.5%;}

.main_cont textarea{border:1px solid #ddd; height:72px; width:100%;}
.contbox{ width:338px;border:1px solid #ddd; padding:6px; height:135px; overflow-y:scroll;}
.boxli{ float:left; color:#666; padding:4px 0; width:33%;}
.boxli a{ width:14px; height:14px;background:url(../images/icon.png) no-repeat 0 0; float:left; margin:3px  3px 0 0; cursor: pointer;}
.boxli a.sin{ background-position:-14px 0;}
.boxli a.chb{background-position:-28px 0;}
.boxli span{ float:left;}
.but{ float:left; margin-right:40px; width:114px; height:32px; background-repeat:no-repeat; cursor:pointer; color:#fff; font-size:14px; text-align:center; line-height:32px;}
.sbut{ float:none; margin:0 auto;}
.mask_buton{ background-image:url(../images/fabu_but.png);}
.mask_but{ background-image: url(../images/quxiao_but.png); color:#666;}
.bf9{ background:#f9f9f9; padding:6px 24px; min-height:92px;}
.bf9 .fl_ch{  float:left; background:#fff; padding:4px 10px; text-align:center; margin:8px 24px 8px -10px;}
.bf9 .fenli_close{ position:absolute; top:-5px; right:0px;}
.kemuli{ width:30%; float:left; margin:5px 0 5px 10px;}

.lilan_but{ line-height:30px; height:28px; padding:0 12px; border:1px solid #ddd; float:left; margin-left:-1px; background:#f3f3f3; position:relative; font-size:12px;}
#liulan_file {
	 
 opacity:0;/*设置此控件透明度为零，即完全透明*/
 filter:alpha(opacity=0);/*设置此控件透明度为零，即完全透明针对IE*/
 font-size:12px;
 position:absolute;/*绝对定位，相对于 .input */
 top:0;
 right:0;
}
.update_but{float:right;line-height:30px; height:28px; padding:0 12px; border:1px solid #ffa918; background:#fbf6ee; font-size:12px;}

.yc{ display:none;}