@charset "utf-8";
/* CSS Document */

@font-face {font-family: "app_icon";
  src: url('../iconfont/appicon_font/iconfont.eot'); /* IE9*/
  src: url('../iconfont/appicon_font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/appicon_font/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../iconfont/appicon_font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/appicon_font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.appicon {
  font-family:"app_icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
 /*-webkit-text-stroke-width: 0.2px;*/
  -moz-osx-font-smoothing: grayscale;
}

.main_bg{ width:100%; padding:12px 16px ; background:#fff; margin: auto 0; border:1px solid #ddd; box-sizing:border-box;}
.hw_title{border-bottom:1px dashed #ddd; line-height:34px; height:34px; font-size:18px; color:#333; font-weight:700; padding:3px 0 10px;}
.hw_title.onlyline{ padding:0; height:1px; line-height:none;}

.hwrl th{ background:#9498a3; border-left:1px solid #aaa; color:#fff; font-size:16px; padding:6px 0; width:14.28%;}
.hwrl td{  border-left:1px solid #fff;border-top:2px solid #fff; }
.hwrl td a{ display:block;background:#fafaf9;padding:0 6px;height:100px;color:#898989; position:relative;}
.hwrl td a span{ width:100%; display:block; height:24px; line-height:24px;}
.hwrl td a.today{ background:#fce5b6; color:#df7e00;}
.hwrl td a.oldday{ background:#f1f1f0;}


.rl_hover{ position:absolute; width:180px; border-radius:8px; background: url(../images/rlhbg.png); top:0; left:100%; display:none; z-index:666;}
.rlh_tit{ width:100%; background:url(../images/rlhtit.png); box-shadow:0 2px 3px #bfb5a6;color:#ffb61a; border-radius:8px 8px 0 0; box-sizing:border-box; padding:16px 10px 6px;}
.rlh_tit label{ font-size:20px; font-weight:700; display:inline-block;margin-right:6px;}
.rl_hover b{ position:absolute; right:6px; top:6px;color:#ffb61a;}
.rl_hover ul{padding:6px 10px;}
.rl_hover ul li{ width:100%; color:#fff; height:32px; line-height:32px;}

.hwrl td a:hover .rl_hover{ display:block;}

.rensel{ min-height:300px;}
.rensel ul{ width:90%; margin:10px auto;}
.rensel ul li{ height:26px; line-height:26px; text-align:center; color:#898989; font-size:16px; cursor: pointer;-webkit-transition: all 0.25s ease-out 0s;-moz-transition: all 0.25s ease-out 0s;transition: all 0.25s ease-out 0s;}
.rensel ul li:hover,.rensel ul li.cur{ background:#00bb9a; color:#fff;}

.sbl td{ border-left:none !important; border-right:none !important;}
.sbl td a{color:#a2a2a2; display:block;}
.sbl tr.ing td{ color:#00bb9a !important;}
.sbl tr.wait td{ color:#eea915 !important;}
.sbl tr.ing td a{ color:#00bb9a !important;}
.sbl tr.wait td a{ color:#eea915 !important;}

.hygl_left{ width:30%;}
.hygl_left ul{ width:100%;}
.hygl_left ul li{ border-bottom:1px solid #e8e8e8; width:90%; margin:0 auto; }
.hygl_left ul li a{height:54px; line-height:54px; font-size:20px; color:#3e4659; cursor:pointer; text-align:center; display:block;}
.hygl_left ul li a:hover,.hygl_left ul li a.cur{ color:#fff; font-weight:bold; background: url(../images/libg.png) repeat-y 0 0 #a8acb5;}
.hygl_right{ width:69%; border-left:1px solid #e8e8e8;}

#msgicon{ font-size:60px; display:block; text-align:center; color:#d4d4d4; margin:20px auto 10px;}
#msgtxt{ font-size:16px; color:#3e4659; width:100%; text-align:center; height:36px; line-height:36px; margin-bottom:16px;}

.details_tit{ width:100%; font-size:24px; color:#5a5a5a; margin-bottom:20px;}
.details_tit label{ color:#ff9600; font-size:48px; margin:0 6px;}