@charset "utf-8";
/* CSS Document */

.jxpj_address{ width:100%;}
.jxpj_address a{ padding-right:4px; color:#437387;}
.jxpj_creabox{ border:1px solid #e7e7e7; background:#fff;}
.jxpj_cbtitle{ padding:12px 20px; border-bottom:1px solid #04acf7;}
.jxpj_showtitle{ font-size:18px; color:#333; text-align:center; padding:12px 0; margin-top:16px;}
.jxpj_formbox{ padding:12px 20px;}
table.formbox_one{ width:70%; margin-left:5%; margin-bottom:10px;}
table.formbox_one td{ padding:16px 0;}
table.wd_100{width:90%; margin-left:5%;}
.jxpj_input{ border:1px solid #ddd; line-height:32px; height:32px; width:100%; padding-left:6px;}
table.formbox_one td.name{ width:80px; padding-right:6px; }
table.formbox_one td.name label{font-weight:bold;}
table.formbox_one td.cont{ width:400px; }
table.formbox_one td.cont span{ margin-right:16px; color:#535353;}
.gz{ margin-right:16px;}
.gz span{ margin-left:10px;}
.jd{ border:1px solid #eee; width:290px; height:10px; margin-top:4px; border-radius:10px;display:inline-block; position:relative;}
.jd_tiao{ width:80%;height:10px;border-radius:10px; background:#04acf7;display:block; }
.jd.gao{ height:16px; position:relative; border-radius:2px; border-color:#ddd;}
.jd.gao .jd_tiao{ height:16px;border-radius:2px; background:#3fc1fd;}
.jd.gao span{ height:16px; position:absolute; left:20px; font-size:14px; color:#333; width:30px; top:0;}
.jd.duan{ width:160px;}
.gz .jd_biao{background:url(../images/jb_biao.png) no-repeat; width:12px; height:24px;margin-left:-6px; position:absolute; top:-6px; left:80%; cursor:pointer;}
.dan_choose{ font-size:14px; margin-right:50px;}
.cao_but{ border:1px solid #ccc; background:#f9f9f9; padding:7px 10px; border-radius:6px; color:#666; margin-right:16px; font-size:14px;}
.cao_dhbut{ text-decoration:underline; color:#04acf7;font-size:14px; margin-right:16px; }
.cao_bgbut{  color:#04acf7;font-size:14px; margin-right:16px; background:#f3f3f3; padding:4px 6px;}
.cao_bgbut span{text-decoration:underline;}
.cao_bgbut2{  color:#666;font-size:14px; margin-right:8px; background:#eee; padding:6px 6px;}
.cao_bgbut2.ml{ margin-left:8px;}
.cao_bgbut3{  color:#666;font-size:14px; margin-right:8px; border:1px solid #04acf7; padding:6px 10px; border-radius:4px;}
.cao_bgbut3:hover{ background:#04acf7; color:#fff;}
table.formbox_two{ width:96%; margin:0 auto;}
table.formbox_two th{ background:#dcf3fd; color:#666; text-align:center; padding:12px 0; border-right:1px solid #fff;}
table.formbox_two  td{ padding:12px 0;}
table.wd100{ width:100%;}
table.wd100 td{ padding:16px 8px;}
table.formbox_two tr.even{ background:#f6fcfe;}
table.formbox_two tr.twonav{background:#fafafa;}
.jxpj_input2{ border:1px solid #ddd; line-height:30px; height:30px; width:90%; padding-left:6px; color:#666;}
.jxpj_input2.fang{ width:30px; text-align:center; padding:0;}
.jxpj_input2.chang{ width:60px; text-align:center; padding:0;}

.jxpj_more{ width:96%; margin:14px auto;}

.zhong_but{ width:100%; text-align:center; margin:16px auto;}
.zhong_but a{ padding:8px 20px; border:1px solid #ddd; border-radius:4px; color:#666; }
.zhong_but a.yellow{ border-color:#ff6600;margin-right:10px; background:#ff6600; color:#fff; }

.jxpj_nav{}
.jxpj_nav a{ font-size:14px; float:left; padding:16px 20px; color:#666;  border-right:1px solid #e7e7e7;border-top:2px solid #fff;}
.jxpj_nav a.cur{ border-top:2px solid #ff6600; color:#04acf7;}
.jxpj_nav a:hover{ border-top:2px solid #ff6600; color:#04acf7;}

.jxpj_search{ position:relative; margin-right:16px; margin-top:11px;}
.search_input{ width:160px; border:1px solid #eee; height:32px; line-height:32px; color:#666; font-size:14px; padding-left:6px;}
.jxpj_search span{ position:absolute; width:16px; height:16px; text-align:center; line-height:16px; right:8px; top:9px; font-size:16px; color:#666;}
.searchbut{  cursor:pointer;}
.big_but{ padding:8px 16px; background:#04acf7; color:#fff; font-size:14px; border-radius:4px; margin-top:10px; margin-right:16px;}

.co_green{ color:#13af07;}

.jxpj_text{ border:1px solid #ddd; padding:8px; width:98%; min-height:100px; color:#535353; font-size:14px;}