
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1473143716'); /* IE9*/
  src: url('iconfont.eot?t=1473143716#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1473143716') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1473143716') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1473143716#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jinzhi:before { content: "\e61e"; }
.icon-liebiao:before { content: "\e609"; }
.icon-jiantou:before { content: "\e621"; }
.icon-jiangbei:before { content: "\e61b"; }
.icon-xingxing:before { content: "\e602"; }
.icon-del:before { content: "\e620"; }
.icon-jpg:before { content: "\e616"; }
.icon-fanhui:before { content: "\e613"; }
.icon-bianji:before { content: "\e623"; }
.icon-ppt:before { content: "\e617"; }
.icon-word:before { content: "\e618"; }
.icon-fujian:before { content: "\e619"; }
.icon-speech3:before { content: "\e614"; }
.icon-pingjia:before { content: "\e61c"; }
.icon-queding:before { content: "\e60a"; }
.icon-quxiao:before { content: "\e60b"; }
.icon-fenzu:before { content: "\e604"; }
.icon-peixun:before { content: "\e605"; }
.icon-renwu:before { content: "\e60e"; }
.icon-zengjia:before { content: "\e61f"; }
.icon-shijian01:before { content: "\e603"; }
.icon-chazhao:before { content: "\e600"; }
.icon-iconfontbiaozhunmoban02:before { content: "\e61d"; }
.icon-quxiao1:before { content: "\e607"; }
.icon-chufa:before { content: "\e624"; }
.icon-zengjia1:before { content: "\e608"; }
.icon-xinxi:before { content: "\e60f"; }
.icon-jinggao:before { content: "\e612"; }
.icon-queding1:before { content: "\e610"; }
.icon-jiantou-copy:before { content: "\e622"; }
.icon-chakanxiangqing:before { content: "\e601"; }
.icon-youjian:before { content: "\e611"; }
.icon-pingjiaoxuanzhong:before { content: "\e606"; }
.icon-excel:before { content: "\e61a"; }
.icon-pingjia1:before { content: "\e615"; }
.icon-mingcheng:before { content: "\e60c"; }
.icon-lianxiren:before { content: "\e60d"; }
