@charset "utf-8";
/* CSS Document */

@font-face {font-family: "app_icon";
  src: url('../iconfont/appicon_font/iconfont.eot'); /* IE9*/
  src: url('../iconfont/appicon_font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/appicon_font/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../iconfont/appicon_font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/appicon_font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.appicon {
  font-family:"app_icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
 /*-webkit-text-stroke-width: 0.2px;*/
  -moz-osx-font-smoothing: grayscale;
}

.main_bg{ width:100%; padding:12px 16px ; background:#fff; margin: auto 0; border:1px solid #ddd; box-sizing:border-box;}
.xf_title{border-bottom:1px dashed #ddd; line-height:34px; height:34px; font-size:18px; color:#333; font-weight:700; padding:3px 0 10px;}
.xf_title.onlyline{ padding:0; height:1px; line-height:none;}

.xftable td{ border-right:none !important; border-left:none !important; line-height:26px !important; font-size:12px!important; color:#999!important; text-align:right !important;}
.xftable td.one{ text-align:left !important;  cursor:pointer;padding:0 16px;}
.xftable td.one a{ color:#666;font-size:14px!important;}
.xftable td.one a:hover{ color:#007572;}

.xf_fjbox{ padding:0 20px; width:80%; margin:0 auto; background:#fafafa; border:1px solid #eee; border-radius:3px;}
.xf_fjbox .xf_title{ font-size:16px}
.xf_fjlist{ width:50%; float:left; padding:16px 0;}
.xf_fjlist label{ display:block; font-size:15px; }
.xf_fjlist span{ display:block; font-size:12px; }
.xf_fjlist a{ display:block;}

.xf_tjlistbox{ padding:20px 10% 4px;}
.xf_tjlist{  float:left; padding:10px 0; width:40%; border:1px solid #eee; border-radius:8px; background:#fff; box-shadow:0 2px 3px #eee;}
.tjlist_icon i{ font-size:80px;}
.tjlist_txt span{ display:block; font-size:14px; color:#666; height:30px; line-height:30px; margin-top:14px;}
.tjlist_txt label{ font-weight:bold; font-size:22px; color:#ff6600; display:block;height:30px; line-height:30px;}
.tjline{ width:1px; height:99px; border-left:1px dashed #ddd; margin:5px 9% 0;}

.xf_admin td{ border-right:none !important; border-left:none !important; line-height:26px !important;}
.xf_admin td a[href]{ color:#666;}
.xftab_abox a.cz{ display:none;}
.xftab_abox:hover a.cz{ display: inline-block;}

.addfj{ position:relative; cursor:pointer;}
.addfj:hover{color:#06adb7;}
.fjupload{ margin-left:18%;}
.fjupload_list{ width:45%; margin-right:5%; background:#f6f6f6; padding:10px; box-sizing:border-box;border-radius:3px; position:relative;}
.fjupload_list label{ font-size:14px;}
.fjupload_list span{ display:block; height:26px; line-height:26px; font-size:12px; color:#999; text-align:center;}
.fjupload_list span.tisp{ color:#333;}
.fjupload_list a.fj_close{ position:absolute; width:26px; height:26px; top:-4px; right:-6px; color:#fff; background:#F7484B; border-radius:50%; line-height:24px; text-align:center;}

#msgicon{ font-size:60px; display:block; text-align:center; color:#007572; margin:20px auto 10px;}
#msgtxt{ font-size:16px; color:#898989; width:100%; text-align:center; height:36px; line-height:36px; margin-bottom:16px;}