@charset "utf-8";
/* CSS Document */

.cg_li{ width:100%; background:#fff; border-bottom:1px solid #ddd; border-top:1px solid #ddd;  box-sizing:border-box; margin-top:-1px; }
.cg_lis{-webkit-transition: all 0.25s ease-out 0s;-moz-transition: all 0.25s ease-out 0s;transition: all 0.25s ease-out 0s;}
.cgli_infobox{padding:12px 4%;}
.cgli_img{ width:30%;}
.cgli_img img{ width:100%;}
.cgli_cont{color:#939393;}
.cgli_icon{ width:20px; height:20px; text-align:center; line-height:20px; color:#939393;}
.cgli_butbox{ width:100%; border-top:1px solid #ddd;}
.cgli_butbox a{ display:block; height:50px; line-height:50px; font-size:20px; text-align:center;}
.cgli_butbox a.one{ border-right:1px solid #ddd;}

.timesel{ display:block; background:#f1f1f1;  border-radius:4px; padding:4px 12px; margin:0 4px 10px 0; color:#a2a2a2;  font-size:14pz; text-align:center;}
.timesel.cur{ background:#04be02; color:#fff;}