@charset "utf-8";
/* CSS Document */
.clbox_left{ width:22%;}
.clbox_right{ width:76%}
.cllist{ width:24%; margin-right:1.3%; background:#fff; position:relative; margin-bottom:10px;}
.cllist.nmr{ margin-right:0;}
.tip{ padding:8px; position:absolute; top:2px; right:2px; color:#fff; font-size:16px;}
.cllist.blue .tip{ background:#04acf7;}
.cllist.green .tip{ background:#56b7a4;}
.cllist.red .tip{ background:#e4697d;}
.cllist a.listabox{ display:block; color:#04acf7; padding:10px 0 0;-webkit-transition: all 0.25s ease-out 0s;-moz-transition: all 0.25s ease-out 0s;transition: all 0.25s ease-out 0s;}
.cllist.green a.listabox{color:#56b7a4;}
.cllist.red a.listabox{color:#e4697d;}
.cllist a.listabox:hover{ background:#fafafa;box-shadow:0 1px 4px #aaa;}
.cllist .bigicon{ text-align:center; font-size:60px; width:100%; display:block;}
.cllist .up span{ font-size:16px; height:36px; line-height:36px; display:block; text-align:center; width:100%;}
.cllist .down{ height:96px; overflow:hidden; box-sizing:border-box;}
.cllist .down.two{ background:#fafafa; color:#888; padding:12px 0;}
.cllist .down.two span{font-size:14px; height:36px; line-height:36px; display:block; text-align:center; width:100%;}
.cllist .down.three{ background:#fafafa; color:#888; padding:6px 0;}
.cllist .down.three span{font-size:14px; height:28px; line-height:28px; display:block; text-align:center; width:100%;}
.cllist .down span b{ width:45%; display:inline-block; text-align:left;}
.cllist .down span b.one{ text-align:right; width:55%}

.cl_box{ background:#fff; padding:16px;}
.cl_nav{ padding:0 0 16px; border-bottom:1px solid #eee;}
